extends index
block content 
  h3 Emergency Contacts
   
  if contactArray
    each contact in contactArray
      .card
        .card-content
          h4.card-title.center-align=contact.name
          p.flow-text.center-align=contact.phone_number
          .button-group
            a(href=`/contacts/edit/${contact.id}`)
              button.btn-floating.waves-effect.waves-light.green.lighten-2 
                i.material-icons edit
            button(id=contact.id).deleteContact.btn-floating.waves-effect.waves-light.deep-orange.lighten-2
              i.material-icons(id=contact.id) delete
    else
      h4.red.lighten-3 You don't have any emergency contacts. You won't be able to start a new trip until you add at least one contact. 
  a(href='contacts/new') 
    button.full-size-btn.btn.amber.lighten-1 Add New Contact

